/*---------------------- General ----------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*---------------------- Header ----------------------*/
header {
    margin: 10px;
    min-height: 15vh;
    background-color: #f5b7b1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.link-nav > a {
    text-decoration: none;
    color: white;
    background-color: red;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    padding: 9px;
    border-radius: 25px;
    border: 2px solid pink;
    box-shadow: 5px 5px 5px 0px black;
    width: 170px;
    text-align: center;
    display: inline-block;
}
.logo {
    width: 100px;
    height: 100px;
}
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: #f2d7d5;
}
/*---------------------- Main ----------------------*/
main {
    margin: 10px;
    min-height: 80vh;
    background-color: #fdedec;
    padding: 20px;
}

/*---------------------- Inicio Main index.html ----------------------*/
.banner-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-img {
    width: 80%;
    object-fit: contain;
    padding: 20px;
}
.cuerpo-index {
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.dentro-cuerpo-index {
    padding: 20px;
}
.parrafo-index {
    font-size: 22px;
    text-align: center;
}
.img-parrafo-index {
    width: 70%;
    min-width: 200px;
    object-fit: contain;
    padding: 20px;
}
/*---------------------- Fin Main index.html ----------------------*/

/*---------------------- Inicio Main aboutUs.html ----------------------*/
.descripcion-sobre-nosotros {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cuerpo-completo-aboutUs {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.cuerpo-aboutUs {
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
hr {
    width: 100%;
}
.parrafo-sobre-nosotros {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}
.dentro-cuerpo-img-aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-parrafo-aboutUs {
    width: 350px;
    max-width: 100%;
    object-fit: contain;
    padding: 20px;
}
/*---------------------- Fin Main aboutUs.html ----------------------*/

/*---------------------- Inicio Main contact.html ----------------------*/
.banner-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.descripcion-contact {
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.datos-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.datos-contact > h2 {
    padding: 10px;
    text-align: center;
}
/*---------------------- Fin Main contact.html ----------------------*/

/*---------------------- Inicio Main information.html ----------------------*/
.title-info {
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
table {
    border-spacing: 0px;
    margin: 20px;
}
th,
td {
    width: 280px;
    padding: 40px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
/*---------------------- Fin Main information.html ----------------------*/

/*---------------------- Footer ----------------------*/
footer {
    margin: 10px;
    min-height: 5vh;
    background-color: #f5b7b1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer > p {
    padding: 20px;
    font-size: 20px;
}
.whatsapp {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}
